body {
  font-family: arial;
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  font-family: "Bebas Neue";
}

.container {
  display: flex;
  justify-content: center;
}

input {
  display: none;
}

.box {
  width: 1130px;
}

.box__img {
  width: 1150px;
}

@media screen and (max-width: 1024px) {
  .box {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .box__img {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .box {
    width: 100%;
    height: 100%;
  }

  .box__img {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
}
