body {
  font-family: arial;
}

header {
  font-family: "Bebas Neue";
}

.container {
  margin-left: 380px;
}

.heading {
  display: flex;
  margin-bottom: 17px;
  margin-top: 22px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-left: 650px;
  margin-top: 7px;
  font-size: 16pt;
  width: 700px;
}

.menu__item {
  display: flex;
  margin-right: 30px;
  color: #b9b9b9;
  text-decoration: none;
}

.menu__item_active {
  color: #e8663c;
}

.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 26px;
}

.cover {
  background-color: #e8663c;
  width: 1150px;
  height: 79px;
}

.cover__heading {
  font-size: 24pt;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-weight: normal;
  display: flex;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 20px;
}

.block__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-right: 10px;
}

.block__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-left: 10px;
}

.widget__head_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__head_paragrah {
  font-size: 12pt;
  width: 280px;
}

.widget__section_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__section_paragrah {
  font-size: 12pt;
  width: 260px;
}

.text {
  line-height: 1.4em;
  display: flex;
  width: 1150px;
}

.widget__footer_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__block {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.widget__block_indent {
  margin-top: -20px;
}

.widget__row_box {
  background-color: #f3af9d;
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: #e8603c;
}

.widget {
  margin-left: 60px;
  order: 2;
  margin-top: 10px;
}

.box-paper {
  order: 1;
  margin-top: 10px;
}

.text {
  line-height: 1.4em;
  display: flex;
}

.box__info_heading {
  font-family: "Bebas Neue";
  color: #e8603c;
  font-size: 14pt;
  margin-bottom: -10px;
  width: 50px;
  font-weight: normal;
}

.box__info_paragrah {
  color: #bababa;
  font-size: 12pt;
  width: 120px;
}

.box-cover {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 750px;
}

.box__text {
  margin-bottom: 50px;
}

.box__text_heading {
  font-family: "Bebas Neue";
  color: #e8603c;
  font-size: 20pt;
  font-weight: normal;
}

.box__text_paragrah {
  font-size: 14pt;
  width: 600px;
}

.box__line {
  margin-bottom: 50px;
  width: 810px;
  height: 19px;
}

.info-block__line {
  margin-bottom: 50px;
  width: 810px;
  height: 19px;
}

.box__decor {
  display: flex;
  margin-left: 270px;
}

.box__icon {
  background-color: #e8603c;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.box__icon_img {
  padding: 30px 30px 30px 30px;
}

.box__decor_img {
  width: 810px;
}

.info-block__box {
  display: flex;
}

.info-block {
  margin-left: 270px;
  margin-bottom: 60px;
}

.info-block__icon {
  background-color: #e8603c;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.info-block__icon_img {
  padding: 30px 30px 30px 30px;
}

.info-block__img {
  width: 25px;
  margin-left: 35px;
  display: flex;
}

.info-block__paragrah {
  margin-left: 20px;
  width: 680px;
  font-size: 13pt;
}

.info-block__text {
  background-color: #f6f6f6;
  height: 100px;
  width: 810px;
  display: flex;
  align-items: center;
}

.info-block__content_heading {
  font-weight: normal;
  color: #e8663c;
  font-family: "Bebas Neue";
  font-size: 18pt;
  margin-bottom: 5px;
}

.info-block__content_span {
  color: #a6a6a6;
}

.info-block__content_paragrah {
  width: 810px;
  font-size: 12pt;
  margin-top: 30px;
}

.pages {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.pages__box {
  background-color: #f3b29d;
  width: 40px;
  height: 40px;
  color: #ffffff;
  padding: 4px 0px 4px 12px;
  font-size: 20pt;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.pages__box_color {
  background-color: #e8663c;
}

.case {
  background-color: #e8663c;
  width: 1150px;
  height: 320px;
}

.footer__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-right: 10px;
}

.footer__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-left: 10px;
}

.footer {
  display: inline-flex;
  justify-content: center;
  margin-left: 90px;
  padding: 0;
}

.footer__block {
  display: flex;
}

.footer__piece_left {
  padding: 5px 40px;
}

.footer__piece_center {
  width: 280px;
  padding: 5px 40px;
}

.footer__piece_right {
  width: 310px;
}

.footer__paragraph_left {
  width: 315px;
  color: #ffffff;
  font-size: 12pt;
}

.footer__heading_left {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-weight: normal;
  font-size: 20pt;
}

.footer__heading_center {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph_center {
  display: inline;
  color: #ffffff;
  font-size: 12pt;
}

.footer__email_center {
  color: #f3b29d;
  display: inline;
  font-size: 12pt;
}

.footer__addition_center {
  font-size: 12pt;
  color: #f3b29d;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer__heading_right {
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph_right {
  color: #ffffff;
  font-size: 12pt;
}

@media screen and (max-width: 720px) {
  .container {
    margin: 0;
  }

  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .widget {
    display: none;
  }

  .box__icon {
    display: none;
  }

  .box__decor {
    margin: 0;
  }

  .footer {
    margin: 0;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .menu {
    width: 100%;
    margin-left: 50px;
    font-size: 9pt;
  }

  .logo__img {
    width: 40px;
    margin-right: 60px;
    margin-left: 10px;
  }

  .menu {
    width: 100%;
    margin-left: 0;
    font-size: 9pt;
  }

  .menu__item {
    margin-right: 10px;
  }

  .menu__item:last-child {
    margin-left: 0;
  }

  .heading {
    margin-top: 11px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block {
    margin: 0;
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .cover__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box__info {
    display: flex;
    margin-top: -40px;
    order: 2;
    width: 100%;
  }

  .box__decor_img {
    width: 100%;
  }

  .box-cover {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box__text {
    margin-left: 10px;
    order: 1;
  }

  .box__info_heading {
    font-size: 12pt;
    width: 10%;
    margin-right: 2px;
  }

  .box__info_paragrah {
    width: 100%;
    margin-left: 10px;
    font-size: 8pt;
  }

  .box__info_paragrah:last-child {
    margin-left: 20px;
  }

  .box__text_heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box__text_paragrah {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box__line {
    width: 100%;
    margin-top: 20px;
  }

  .box {
    width: 100%;
  }

  .box__container {
    width: 100%;
  }

  .box__cover {
    width: 100%;
  }

  .info-block__icon {
    display: none;
  }

  .info-block {
    margin: 0;
  }

  .info-block__line {
    width: 100%;
  }

  .info-block__text {
    width: 100%;
    height: 100%;
  }

  .container-info {
    width: 100%;
  }

  .info-block__content_paragrah {
    width: 90%;
    margin-left: 10px;
  }

  .info-block__content_heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .info-block__content_span {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pages {
    display: flex;
    justify-content: center;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph_left {
    width: 100%;
  }

  .footer__paragraph_center {
    width: 100%;
  }

  .footer__paragraph_right {
    width: 100%;
  }

  .footer__heading_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
