body {
  font-family: arial;
}

header {
  font-family: "Bebas Neue";
}

.container {
  margin-left: 380px;
}

.heading {
  display: flex;
  margin-top: 22px;
  margin-bottom: 17px;
}

input {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-left: 650px;
  margin-top: 7px;
  font-size: 16pt;
  width: 700px;
}

.menu__item {
  display: flex;
  margin-right: 30px;
  color: #b9b9b9;
  text-decoration: none;
}

.menu__line {
  display: flex;
}

.menu__item_active {
  color: #e8663c;
  display: flex;
  text-decoration: none;
  margin-right: 3px;
}

.menu__item_additional {
  color: #f3af9d;
  display: flex;
  margin-right: 30px;
  text-decoration: none;
}

.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 26px;
}

.cover {
  background-color: #e8663c;
  width: 1150px;
  height: 79px;
}

.cover__heading {
  font-size: 24pt;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-weight: normal;
  display: flex;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 20px;
}

.block__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-right: 10px;
}

.block__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-left: 10px;
}

.box-paper__img_map {
  width: 820px;
}

.box-comment__header_paragrah {
  width: 240px;
  font-size: 12pt;
  margin-top: 35px;
}

.box-comment__center_heading {
  font-size: 12pt;
  color: #e8603c;
  margin-bottom: -15px;
}

.box-comment {
  display: flex;
}

.comment {
  margin-top: 30px;
  margin-left: 40px;
}

.box__input {
  font-family: "Bebas Neue";
  font-weight: normal;
  color: #e8603c;
  margin-bottom: 10px;
  font-size: 15pt;
  padding: 10px 5px 5px 15px;
  border: 2px solid #e8663c;
  width: 200px;
}

.comment[type="text"],
.comment[type="email"] {
  color: #e8603c;
  border: 2px solid #e8663c;
  background: none;
}

.message textarea {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 15pt;
  width: 500px;
  height: 190px;
  border: 2px solid #e8663c;
  padding: 10px 5px 5px 15px;
  color: #e8603c;
  margin-bottom: 10px;
  resize: none;
}

input[type="text"],
input[type="email"]::-moz-placeholder {
  color: #e8603c; /* Цвет подсказывающего текста */
  font-family: "Bebas Neue";
  font-weight: normal;
}
input[type="text"],
input[type="email"]::-webkit-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}

input[type="text"],
input[type="email"]:-ms-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}
input[type="text"],
input[type="email"]::-ms-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}
input[type="text"]::placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}

textarea[type="text"]::-moz-placeholder {
  color: #e8603c; /* Цвет подсказывающего текста */
  font-family: "Bebas Neue";
  font-weight: normal;
}
textarea[type="text"]::-webkit-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}

textarea[type="text"]:-ms-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}
textarea[type="text"]::-ms-input-placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}
textarea[type="text"]::placeholder {
  color: #e8603c;
  font-family: "Bebas Neue";
  font-weight: normal;
}

.submit__input[type="submit"] {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 15pt;
  color: #fff;
  background: #e8603c;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  border: 2px solid #e8663c;
}

.widget__head_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__head_paragrah {
  font-size: 12pt;
  width: 280px;
}

.widget__section_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__section_paragrah {
  font-size: 12pt;
  width: 260px;
}

.text {
  line-height: 1.4em;
  display: flex;
  width: 1150px;
}

.widget__footer_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__block {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.widget__block_indent {
  margin-top: -20px;
}

.widget__row_box {
  background-color: #f3af9d;
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: #e8603c;
}

.box-cover {
  display: flex;
}

.widget {
  order: 2;
  margin-left: 45px;
}

.box-paper {
  order: 1;
  margin-bottom: 40px;
}

.box__input {
  outline: none;
}

.box__textarea {
  outline: none;
}

.case {
  background-color: #e8663c;
  width: 1150px;
  height: 320px;
}

.footer__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-right: 10px;
}

.footer__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-left: 10px;
}

.footer {
  display: inline-flex;
  justify-content: center;
  margin-left: 90px;
  padding: 0;
}

.footer__block {
  display: flex;
}

.footer__piece_left {
  padding: 5px 40px;
}

.footer__piece_center {
  width: 280px;
  padding: 5px 40px;
}

.footer__piece_right {
  width: 310px;
}

.footer__paragraph_left {
  width: 315px;
  color: #ffffff;
  font-size: 12pt;
}

.footer__heading_left {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-weight: normal;
  font-size: 20pt;
}

.footer__heading_center {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph_center {
  display: inline;
  color: #ffffff;
  font-size: 12pt;
}

.footer__email_center {
  color: #f3b29d;
  display: inline;
  font-size: 12pt;
}

.footer__addition_center {
  font-size: 12pt;
  color: #f3b29d;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer__heading_right {
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph_right {
  color: #ffffff;
  font-size: 12pt;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0;
  }

  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .widget {
    display: none;
  }

  .footer {
    margin: 0;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .menu__item {
    margin-right: 10px;
  }

  .menu__item_active {
    margin: 0;
  }

  .menu__item_additional {
    margin-right: 10px;
  }

  .menu {
    width: 100%;
    margin-left: 0;
    font-size: 9pt;
  }

  .menu__item:last-child {
    margin-left: 0;
  }

  .heading {
    margin-top: 11px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__img {
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
  }

  .block {
    margin: 0;
    width: 100%;
  }

  .cover__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-paper {
    width: 100%;
  }

  .box-paper__img_map {
    width: 100%;
    margin-top: 30px;
  }

  .box-comment {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .box-comment__header_paragrah {
    width: 100%;
  }

  .box-comment__info {
    width: 80%;
    margin-left: 40px;
  }

  .message textarea {
    width: 150%;
  }

  .message {
    width: 90%;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__piece_right {
    margin-bottom: 20px;
    width: 80%;
  }

  .footer__piece_center {
    width: 80%;
    padding: 0;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph_left {
    width: 100%;
  }

  .footer__paragraph_center {
    width: 100%;
  }

  .footer__paragraph_right {
    width: 100%;
  }

  .footer__heading_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin: 0;
  }

  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .widget {
    display: none;
  }

  .footer {
    margin: 0;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__line {
    display: flex;
  }

  .menu__item {
    display: flex;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .menu__item_active {
    color: #e8663c;
    display: flex;
    padding: 12px 0 8px 0;
  }

  .menu__item_additional {
    color: #f3af9d;
    display: flex;
    padding: 12px 0 15px 5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

  .logo {
    display: none;
  }

  .heading {
    margin: 0;
    display: flex;
  }

  .block {
    margin: 0;
    width: 100%;
  }

  .cover__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-paper {
    width: 100%;
  }

  .box-paper__img_map {
    width: 100%;
    margin-top: 30px;
  }

  .box-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .box-comment__header_paragrah {
    width: 100%;
  }

  .box-comment__info {
    width: 80%;
    margin-left: 40px;
  }

  .message textarea {
    width: 90%;
  }

  .message {
    width: 100%;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__piece_right {
    margin-bottom: 20px;
    width: 80%;
  }

  .footer__piece_center {
    width: 80%;
    padding: 0;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph_left {
    width: 100%;
  }

  .footer__paragraph_center {
    width: 100%;
  }

  .footer__paragraph_right {
    width: 100%;
  }

  .footer__heading_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
