body {
  font-family: arial;
}

header {
  font-family: "Bebas Neue";
}

.container {
  margin-left: 380px;
}

.heading {
  display: flex;
  margin-bottom: 17px;
  margin-top: 22px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-left: 650px;
  margin-top: 7px;
  font-size: 16pt;
  width: 700px;
}

.menu__item {
  display: flex;
  margin-right: 30px;
  color: #b9b9b9;
  text-decoration: none;
}

.menu__item_active {
  color: #e8663c;
}

#slider {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .img {
  width: 500%;
  line-height: 0;
}

input {
  display: none;
}

#owerflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 1150px;
}

#desktop:checked ~ #slider {
  max-width: 1150px;
}

#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
  background: url("img/arrow-left.jpg") no-repeat;
  display: inline-flex;
  float: left;
  margin-left: 20px;
  margin-top: -300px;
  height: 68px;
  width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
  background: url("img/arrow-right.jpg") no-repeat;
  display: inline-flex;
  float: right;
  margin-top: -300px;
  height: 68px;
  width: 68px;
}

label,
a {
  cursor: pointer;
}

#switch1:checked ~ #slides .img {
  margin-left: 0;
}

#switch2:checked ~ #slides .img {
  margin-left: -100%;
}

#switch3:checked ~ #slides .img {
  margin-left: -200%;
}

#controls {
  width: 100%;
  height: 50%;
}

.block {
  display: inline-flex;
  justify-content: center;
  margin-left: 90px;
  margin-bottom: 17px;
}

.block__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-right: 10px;
}

.block__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-left: 10px;
}

.cover__img {
  height: 488px;
}

.card__text {
  display: flex;
}

.card__text_block {
  display: flex;
}

.card__text_img {
  display: flex;
  align-items: center;
}

.card__heading {
  font-size: 18pt;
  color: #e8663c;
  width: 200px;
  font-family: "Bebas Neue";
  display: flex;
  font-weight: normal;
  margin-left: 20px;
}

.card__paragraph {
  font-size: 12pt;
  margin-top: 5px;
  line-height: 1.6em;
  width: 350px;
  font-family: HelveticaNeue, sans-serif;
}

.card__img_size {
  width: 170px;
}

.button {
  font-size: 14pt;
  background: #e8663c;
  color: #ffffff;
  display: block;
  width: 35px;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
  font-family: "Bebas Neue";
  margin-bottom: 45px;
}

.card__img_right {
  margin-left: 25px;
}

.card__img {
  margin-bottom: 10px;
}

.card {
  margin-right: 25px;
}

.container-card {
  display: flex;
}

.card__img {
  display: flex;
}

.row {
  display: flex;
}

.row__line_size {
  height: 19px;
  width: 1020px;
}

.row__paragraph {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: flex;
  margin-right: 20px;
}

.row__img {
  display: flex;
  align-items: center;
}

.icon__text {
  border: 1px solid;
  border-color: #dbdbdb;
  border-top-color: white;
  width: 258px;
  font-family: "Bebas Neue";
  height: 90px;
  padding-left: 10px;
}

.icon__heading {
  color: #b9b9b9;
  font-size: 18pt;
  margin-bottom: -15px;
  font-weight: normal;
}

.icon__paragraph {
  font-size: 13pt;
  color: #e8603c;
}

.container-icon {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin-bottom: 48px;
}

.icon__nav {
  margin-left: -40px;
  margin-bottom: -20px;
}

.icon__transformation {
  list-style-type: none;
}

.icon__transformation_fon {
  display: flex;
  position: absolute;
  opacity: 0;
  background-image: url(img/123s.png);
  background-size: 100%;
  height: 226px;
  width: 270px;
  margin-top: -230px;
}

.icon__transformation_fon:hover {
  opacity: 1;
}

.case {
  background-color: #e8663c;
  width: 1150px;
  height: 320px;
}

.footer__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-right: 10px;
}

.footer__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 320px;
  margin-left: 10px;
}

.footer {
  display: inline-flex;
  justify-content: center;
  margin-left: 90px;
  padding: 0;
}

.footer__block {
  display: flex;
}

.footer__piece_left {
  padding: 5px 40px;
}

.footer__piece_center {
  width: 280px;
  padding: 5px 40px;
}

.footer__piece_right {
  width: 310px;
}

.footer__paragraph_left {
  width: 315px;
  color: #ffffff;
  font-size: 12pt;
}

.footer__heading_left {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-weight: normal;
  font-size: 20pt;
}

.footer__heading_center {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph_center {
  display: inline;
  color: #ffffff;
  font-size: 12pt;
}

.footer__email_center {
  color: #f3b29d;
  display: inline;
  font-size: 12pt;
}

.footer__addition_center {
  font-size: 12pt;
  color: #f3b29d;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer__heading_right {
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 20pt;
  font-weight: normal;
}

.footer__piece_icon {
  width: 40px;
}

.footer__paragraph_right {
  color: #ffffff;
  font-size: 12pt;
}

@media screen and (max-width: 720px) {
  .container {
    margin: 0;
  }

  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .footer {
    margin: 0;
  }

  .block {
    margin: 0;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .card__heading {
    font-size: 14pt;
    color: #e8663c;
    width: 150px;
    font-family: "Bebas Neue";
    display: flex;
    font-weight: normal;
    margin-left: 20px;
  }

  .card__paragraph {
    font-size: 8pt;
    margin-top: 5px;
    line-height: 1.6em;
    width: 250px;
    font-family: HelveticaNeue, sans-serif;
  }

  .card {
    justify-content: center;
  }

  .card__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cover__img {
    width: 100%;
    height: 100%;
  }

  .card {
    margin: 0;
  }

  .card__img_size {
    margin: 0;
    width: 110px;
  }

  .row {
    width: 100%;
  }

  .row__line_size {
    width: 100%;
  }

  .container-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
  }

  .row__paragraph {
    font-family: "Bebas Neue";
    font-size: 14pt;
    color: #e8603c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo__img {
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
  }

  .menu {
    width: 100%;
    margin-left: 0;
    font-size: 9pt;
  }

  .menu__item {
    margin-right: 10px;
  }

  .menu__item:last-child {
    margin-left: 0;
  }

  .heading {
    margin-top: 11px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider {
    width: 100%;
  }

  #switch1:checked ~ #controls label:nth-child(3),
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2) {
    background: url("img/arrow-left.jpg") no-repeat;
    display: inline-flex;
    float: left;
    margin-left: 20px;
    margin-top: -100px;
    height: 68px;
    width: 68px;
  }

  #switch1:checked ~ #controls label:nth-child(2),
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(1) {
    background: url("img/arrow-right.jpg") no-repeat;
    display: inline-flex;
    float: right;
    margin-top: -100px;
    height: 68px;
    width: 68px;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph_left {
    width: 100%;
  }

  .footer__paragraph_center {
    width: 100%;
  }

  .footer__paragraph_right {
    width: 100%;
  }

  .footer__heading_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__heading_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
