.widget {
  width: 15%;
  order: 2;
  margin-top: 10px;
}

.widget__head_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__head_paragrah {
  font-size: 12pt;
  width: 90%;
}

.widget__section_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__section_paragrah {
  font-size: 12pt;
  width: 260px;
}

.widget__footer_heading {
  font-family: "Bebas Neue";
  font-size: 18pt;
  color: #e8603c;
  display: inline;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.widget__block {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.widget__block_indent {
  margin-top: -20px;
}

.widget__row_box {
  background-color: #f3af9d;
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: #e8603c;
}

@media screen and (max-width: 1024px) {
  .widget {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .widget {
    display: none;
  }
}
