.icon__text {
  border: 1px solid;
  border-color: #dbdbdb;
  border-top-color: white;
  width: 258px;
  font-family: "Bebas Neue";
  height: 90px;
  padding-left: 10px;
}

.icon__heading {
  color: #b9b9b9;
  font-size: 18pt;
  margin-bottom: -15px;
  font-weight: normal;
}

.icon__paragraph {
  font-size: 13pt;
  color: #e8603c;
}

.icon__size-img {
  width: 270px;
}

.container-icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 48px;
  width: 62.3%;
}

.icon__nav {
  margin-left: -40px;
  margin-bottom: -20px;
}

.icon__transformation {
  list-style-type: none;
}

.icon__transformation_fon {
  display: flex;
  position: absolute;
  opacity: 0;
  background-image: url(../img/123s.png);
  background-size: 100%;
  height: 226px;
  width: 270px;
  margin-top: -230px;
}

.icon__transformation_fon:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .container-icon {
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  .container-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
  }

  .icon {
    width: 100%;
    margin: 0;
  }

  .icon__nav_img {
    width: 100%;
  }

  .icon__transformation_fon {
    width: 100%;
    height: 45%;
    margin-top: -320px;
  }

  .icon__size-img {
    width: 100%;
    margin-top: 20px;
  }

  .icon__text {
    width: 96%;
  }
}
