.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  width: 84%;
}

.cover {
  background-color: #e8663c;
  width: 100%;
  height: 79px;
}

.cover__heading {
  font-size: 24pt;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-weight: normal;
  display: flex;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
}

.block__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-right: 10px;
}

.block__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 79px;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .block {
    width: 100%;
  }

  .cover__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .block__line_left {
    display: none;
  }

  .block__line_right {
    display: none;
  }

  .block {
    margin: 0;
    width: 100%;
    position: fixed;
  }

  .cover__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
