.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  margin-bottom: 40px;
  width: 46%;
}

.box__text_one {
  display: flex;
  font-size: 12pt;
  margin-bottom: 30px;
  width: 90%;
}

.box__text_two {
  display: flex;
  width: 90%;
}

.box__text_img {
  display: flex;
  border: 5px double;
  border-color: #cccccc;
  height: 300px;
}

.box__text_paragrah {
  font-size: 12pt;
  margin-left: 10px;
}

.box__text_three {
  font-size: 12pt;
  width: 90%;
}

.box__text_foure {
  font-size: 11pt;
  width: 90%;
}

.box__text_five {
  width: 90%;
  margin-left: 40px;
  margin-bottom: -45px;
}

.box__text_six:first-letter {
  font-family: arial, sans-serif;
  color: #e8603c;
  font-size: 36pt;
}

.box__text_six {
  width: 90%;
}

.box__content_fon {
  background-color: #e8663c;
  color: #e8663c;
  width: 10px;
  height: 100px;
  margin-left: 50px;
}

.box__content_paragrah {
  margin-left: 20px;
  color: #717171;
  width: 85%;
}

.box__style {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

.box__position {
  display: inline-flex;
  align-items: center;
}

.box__position:nth-child(2) {
  margin-bottom: 30px;
}

.box__info_one {
  width: 38%;
  margin-right: 50px;
}

.box__info_two {
  width: 28%;
  margin-right: 20px;
}

.box__line {
  width: 90%;
  height: 80px;
  margin-bottom: 300px;
}

.box__line_one {
  background-color: #effeb9;
  color: #98c601;
  border: 1px solid #98c601;
  border-radius: 1px;
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
}

.box__line_two {
  background-color: #fbcbc1;
  color: #ec5b41;
  border: 1px solid #eb5439;
  border-radius: 1px;
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
}
.box__line_three {
  background-color: #ffe9ad;
  color: #fab418;
  border: 1px solid #fab418;
  border-radius: 1px;
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
}

.box__line_four {
  background-color: #d1e4f3;
  color: #4d8fcb;
  border: 1px solid #4d8fcb;
  border-radius: 1px;
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 1024px) {
  .box {
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }

  .box__text_one {
    width: 100%;
  }

  .box__text_two {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box__text_img {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .box__text_five {
    display: none;
  }

  .box__content_fon {
    margin-left: 10px;
    height: 180px;
  }

  .box__info_two {
    margin-left: 20px;
  }

  .box__info_one {
    margin-left: 20px;
  }

  .box__line {
    width: 99%;
  }
}

@media screen and (max-width: 540px) {
  .box {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    margin-top: 90px;
  }

  .box__text_one {
    width: 100%;
  }

  .box__text_two {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .box__text_img {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .box__content_fon {
    margin-left: 10px;
    height: 280px;
  }

  .box__position {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box__info_two {
    margin-left: 20px;
    width: 100%;
  }

  .box__info_one {
    margin-left: 50px;
    width: 100%;
  }

  .box__line {
    width: 97%;
  }
}
