.box-paper {
  order: 1;
  margin-top: 10px;
  width: 46.5%;
}

.box {
  width: 100%;
}

.text {
  line-height: 1.4em;
  display: flex;
}

.box__info_heading {
  font-family: "Bebas Neue";
  color: #e8603c;
  font-size: 14pt;
  margin-bottom: -10px;
  width: 50px;
  font-weight: normal;
}

.box__info_paragrah {
  color: #bababa;
  font-size: 12pt;
  width: 120px;
}

.box-cover {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 95%;
}

.box__text {
  margin-bottom: 50px;
}

.box__text_heading {
  font-family: "Bebas Neue";
  color: #e8603c;
  font-size: 20pt;
  font-weight: normal;
}

.box__text_paragrah {
  font-size: 14pt;
  width: 95%;
}

.box__line {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 95%;
  height: 19px;
}

.box__decor {
  display: flex;
  margin-left: -109px;
}

.box__icon {
  background-color: #e8603c;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.box__icon_img {
  padding: 30px 30px 30px 30px;
}

.box__decor_img {
  width: 82%;
}

@media screen and (max-width: 1024px) {
  .box-paper {
    width: 100%;
  }

  .box__icon {
    display: none;
  }

  .box__decor {
    margin: 0;
  }

  .box__info {
    margin-top: -40px;
    width: 60%;
    margin-left: 20px;
  }

  .box__decor_img {
    width: 100%;
    margin-top: 10px;
  }

  .box__line {
    width: 100%;
  }

  .box__text {
    margin-left: 10px;
    margin-top: 20px;
  }

  .box__info_heading {
    font-size: 12pt;
    width: 10%;
  }

  .box__info_paragrah {
    width: 100%;
    font-size: 8pt;
  }

  .box__text_heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .box-paper {
    margin-top: 90px;
  }

  .box__icon {
    display: none;
  }

  .box__decor {
    margin: 0;
  }

  .box__info {
    display: flex;
    margin-top: -40px;
    order: 2;
    width: 80%;
    margin-left: 10px;
  }

  .box__decor_img {
    width: 100%;
    margin-top: 10px;
  }

  .box-cover {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box__text {
    margin-left: 10px;
    margin-top: 20px;
    order: 1;
  }

  .box__info_heading {
    font-size: 12pt;
    width: 10%;
  }

  .box__info_paragrah {
    width: 100%;
    margin-left: 10px;
    font-size: 8pt;
  }

  .box__info_paragrah:last-child {
    margin-left: 30px;
  }
}
