.container-info {
  width: 61.08%;
}

.info-block__box {
  display: flex;
}

.info-block {
  margin-bottom: 60px;
  margin-left: -108px;
}

.info-block__icon {
  background-color: #e8603c;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.info-block__icon_img {
  padding: 30px 30px 30px 30px;
}

.info-block__img {
  width: 25px;
  margin-left: 35px;
  display: flex;
}

.info-block__paragrah {
  margin-left: 20px;
  width: 80%;
  font-size: 13pt;
}

.info-block__text {
  background-color: #f6f6f6;
  height: 100%;
  width: 53%;
  display: flex;
  align-items: center;
}

.info-block__content_heading {
  font-weight: normal;
  color: #e8663c;
  font-family: "Bebas Neue";
  font-size: 18pt;
  margin-bottom: 5px;
}

.info-block__content_span {
  color: #a6a6a6;
}

.info-block__content_paragrah {
  width: 55%;
  font-size: 12pt;
  margin-top: 30px;
}

.pages {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.pages__box {
  background-color: #f3b29d;
  width: 40px;
  height: 40px;
  color: #ffffff;
  padding: 4px 0px 4px 12px;
  font-size: 20pt;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.info-block__line {
  width: 58.5%;
  margin-bottom: 50px;
}

.pages__box_color {
  background-color: #e8663c;
}

@media screen and (max-width: 1024px) {
  .container-info {
    margin: 0;
    width: 100%;
  }

  .info-block {
    margin: 0;
  }

  .info-block__icon {
    display: none;
  }

  .info-block__line {
    margin-top: 30px;
    width: 100%;
  }

  .info-block__text {
    width: 100%;
  }

  .info-block__content_paragrah {
    width: 90%;
    margin-left: 10px;
  }

  .info-block__content_heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .info-block__content_span {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pages {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .container-info {
    width: 100%;
    margin: 0;
  }

  .info-block__icon {
    display: none;
  }

  .info-block {
    margin: 0;
    display: flex;
  }

  .info-block__line {
    width: 100%;
    margin-top: 30px;
  }

  .info-block__text {
    width: 100%;
  }

  .info-block__content_paragrah {
    width: 90%;
    margin-left: 10px;
  }

  .info-block__content_heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .info-block__content_span {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pages {
    display: flex;
    justify-content: center;
  }
}
