.footer__line_left {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 100%;
  margin-right: 10px;
}

.footer__line_right {
  background-color: #f3b29d;
  color: #f3b29d;
  width: 280px;
  height: 100%;
  margin-left: 10px;
}

.footer {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  width: 84%;
}

.case {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e8663c;
}

.footer__block {
  display: flex;
}

.footer__piece {
  padding: 5px 42px;
  width: 50%;
}

.footer__heading {
  font-family: "Bebas Neue";
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
}

.footer__paragraph {
  display: inline;
  color: #ffffff;
  font-size: 12pt;
}

.footer__email {
  color: #f3b29d;
  display: inline;
  font-size: 12pt;
}

.footer__addition {
  font-size: 12pt;
  color: #f3b29d;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer__piece_icon {
  width: 15%;
}

@media screen and (max-width: 1024px) {
  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .footer {
    margin: 0;
    width: 100%;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__piece {
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph {
    width: 100%;
  }

  .footer__heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__piece_icon {
    width: 40px;
  }
}

@media screen and (max-width: 540px) {
  .footer__line_left {
    display: none;
  }

  .footer__line_right {
    display: none;
  }

  .case {
    width: 100%;
    height: 100%;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__paragraph {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__piece_icon {
    width: 40px;
  }
}
